@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Abeatby";
  src: url(./fonts/abeatbyKaiRegular.otf);
}
* {
  font-family: "Abeatby";
}
body {
  background-color: #fff;
}
